@model IEnumerable<Projekt.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Song</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" id="liveToastBtn">Create New</a>
</p>
<div>
    @await Component.InvokeAsync("Song")
</div>
<table class="table table-bordered">
    <thead class="">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td scope="row">
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
                <td scope="row">
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td scope="row" class="d-flex justify-content-center gap-2">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
